"*":
  "atom-elixir-formatter":
    elixirExecutable: "/Users/andrea/Code/elixir/bin/elixir"
    formatOnSave: "whenFormatterFilePresent"
  core:
    packagesWithKeymapsDisabled: [
      "git-blame"
      "atom-elixir"
      "todo-show"
    ]
    projectHome: "/Users/andrea/Code"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    preferredLineLength: 98
  "exception-reporting":
    userId: "a2c8b85a-102d-4ec8-a06b-3551f4a25716"
  "git-blame":
    columnWidth: 362
  "package-sync":
    createOnChange: true
  "process-palette":
    shell: "/usr/local/bin/zsh"
  "project-plus": {}
  "todo-show":
    ignoreThesePaths: [
      "node_modules"
      "vendor"
      "bower_components"
      "_build"
      "deps"
    ]
    showInTable: [
      "Type"
      "Text"
      "Path"
    ]
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
